In [1]:
import pandas as pd
import numpy as np

### Q1)  count all letters,digits,special symbols from a given string
### str="I@#ma26rt^&ic5us"

In [2]:
str_="I@#ma26rt^&ic5us"
l_count=0
d_count=0
ss_count=0

for char in str_:
    if char.isalpha():
        l_count +=1
    elif char.isdigit():
        d_count +=1
    else:
        ss_count +=1
        
print("letters:", l_count)
print("digits:",d_count)
print("special symbols:",ss_count)

letters: 9
digits: 3
special symbols: 4

### Q2) Write a python program to find numbers divisible by nineteen or thirteen from a list of numbers using lambda
### a=[19,65,57,39,152,639,121,44,90,190]

In [3]:
A=[19,65,57,39,152,639,121,44,90,190]
L=list(filter(lambda x: x%13==0 or x%19==0,A))
print("number divisible by 13 or 19:",L)

number divisible by 13 or 19: [19, 65, 57, 39, 152, 190]

### Q3)Find all of the words in a string that are less than 5 letters.
### string = "Practice Problems to Drill List Comprehension in Your Head."

In [4]:
string = "Practice Problems to Drill List Comprehension in Your Head."
S=string.split()   
N={}
for i in S:
    N[i]=len(i)
print(N)
W=[i[0] for i in N.items() if i[1]<5]
print("words in a string that are less than 5 letters:",W)

{'Practice': 8, 'Problems': 8, 'to': 2, 'Drill': 5, 'List': 4, 'Comprehension': 13, 'in': 2, 'Your': 4, 'Head.': 5}
words in a string that are less than 5 letters: ['to', 'List', 'in', 'Your']

### Q4) Calculate income tax for the given income by adhering to the below rules:
###     Taxable income         Rate (in %)
###     First 10,000           0 
###     Next 10,000            10  
###   The remaining           20  
###     
###     Expected Output:  
###     For example, suppose the taxable income is 45000 the income tax payable is:
###         10000 0% + 10000 10% + 25000 20% = 6000.

In [13]:
n=int(input("enter the amount"))
if ( n<=10000):
    t=0
elif(n<=20000):
    t=(n-10000)*0.1
else:
    tax=(n-20000)*0.2+10000*0.1
print("your tax is in $",tax)

enter the amount50000
your tax is in $ 7000.0

### Q5) Given below are the list of positive and negative words. Also, a list of tweets is provided. Separate out the positive and negative comments.
###
### positive = ['good','awesome', 'best', 'nice']  
### negative = ['worst','awful', 'bad']  
### tweets = ['This government policies are good',
###           'bad implementation',
###           'The way he played showed that he is one of the best players in the world', 
###           'Her acting in the play was awesome', 'The wine tastes awful', 
###           'It's nice to hear this little kid's laugh']

In [5]:
positive = ['good','awesome', 'best', 'nice']  
negative = ['worst','awful', 'bad']  
tweets = ['This government policies are good','bad implementation',
          'The way he played showed that he is one of the best players in the world', 
          'Her acting in the play was awesome', 'The wine tastes awful', "'It's nice to hear this little kid's laugh"]
p_comments=[]
n_comments=[]
for i in positive:
    for j in tweets:
        if i in j:
            p_comments.append(j)
for i in negative:
    for j in tweets:
        if i in j:
            n_comments.append(j)
print("positive comments:",p_comments)     
print("negative comments:",n_comments)

positive comments: ['This government policies are good', 'Her acting in the play was awesome', 'The way he played showed that he is one of the best players in the world', "'It's nice to hear this little kid's laugh"]
negative comments: ['The wine tastes awful', 'bad implementation']

### Q6)Extend nested list by adding the sublist. 
### You have given a nested list. Write a program to extend it by 
### adding the sublist ["h", "i", "j"] in such a way that it will look like the following list.
### list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"] sub list to add 
### sub_list = ["h", "i", "j"] 
### expected output =['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [6]:
list_=["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sub_list = ["h", "i", "j"]
list_[2][1][2]=list_[2][1][2]+sub_list
print(list_)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

### Q7)Remove and add item in a list.
### Write a program to remove the item present at index 4 and add it to the 2nd position and
### at the end of the list. 
### list1 = [54, 44, 27, 79, 91, 41]

In [7]:
list1=[54,44,27,79,91,41]
A=list1.pop(4)
list1.insert(2,A)
print(list1)
list1.append(A)
print(list1)

[54, 44, 91, 27, 79, 41]
[54, 44, 91, 27, 79, 41, 91]

### Q8)Load the iris dataset and Find only those records whose sepal_length = 5.1 and sepal_width = 3.5

In [8]:
df=pd.read_csv("iris (1).csv")
df[(df['Sepal.Length']==5.1)&(df['Sepal.Width']==3.5)]

    Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0            5.1          3.5           1.4          0.2  setosa
17           5.1          3.5           1.4          0.3  setosa

### Q9)Check for Maximum petal_length and convert it in to 7.2 and min petal_length and convert it in to 1.2

In [9]:
df=pd.read_csv("iris (1).csv")
print("max Petal Length:",df['Petal.Length'].max())
print("max petal Length:",df['Petal.Length'].min())

max Petal Length: 6.9
max petal Length: 1.0

In [10]:
df.replace(to_replace=df["Petal.Length"].max(),value=7.2,inplace=True)
df.replace(to_replace=df["Petal.Length"].min(),value=1.2,inplace=True)

In [11]:
print("max Petal Length:",df['Petal.Length'].max())
print("max petal Length:",df['Petal.Length'].min())

max Petal Length: 7.2
max petal Length: 1.1

### Q10) Perform right join to combine values based on the 'ID' in the two dataframes.
### Use the dataframe given below, read the DataFrame with the help of clipboard function.

In [12]:
A1={"ID":[101,102,103,104,105,106,107],"candidate_name":['alex','army','allen','alice','james','sara','mia'],
   "subject":['history','english','geography','german','history','german','english']}
A2={"ID":[101,102,103,104,105,108],"city":['delhi','mumbai','delhi','chennai','hyderabad','delhi'],
    "subject_score":[89,78,77,87,87,84]}
df1=pd.DataFrame(A1)
df2=pd.DataFrame(A2)
pd.merge(df1,df2,how='right',on='ID')

    ID candidate_name    subject       city  subject_score
0  101           alex    history      delhi             89
1  102           army    english     mumbai             78
2  103          allen  geography      delhi             77
3  104          alice     german    chennai             87
4  105          james    history  hyderabad             87
5  108            NaN        NaN      delhi             84